/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body{
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 1.2rem;
    display: grid;
    grid-template-rows: 75px 1fr 75px;

}

/* header style */
header{
    box-shadow: 1px 1px 20px rgb(188, 186, 186);
    background-color: #ffffff;
    gap: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
  font-size: 2rem;
  color: #f0b429;
  font-weight: 900;
  margin-left: 50px;
  padding: 0px 5px;
  background-color: #008938;
}

nav{
    display: flex;
    margin-right: 50px;
    margin-top: 20px;
    justify-content: flex-end;
    gap: 150px;
    align-items: end;
}
nav button{
    border: none;
    padding: 5px 10px;
    font-weight: 600;
    background-color: #ffffff;
    border-bottom: 5px solid #ffffff;
    display: inline-block;
    cursor: pointer;  
    transition:  border-color 0.3s ease-out; 

}


.buttonClicked{
  border-bottom: 5px solid #008938;
}


/* content style */
.content{
    /* place-self: cente;r */
    background-color: #ffffff;    
}


/* footer style */
footer{
    background-color: #008938;  
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* home page style */
.divPresent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divPresent > img{
    margin-top: -15px;
    width: 50%;
    height: 100%;
}
.divPresent > div{
    padding: 40px;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 5rem;
    line-height: 4.5rem;
    font-weight: 900;
}


.divPresent > div > button{
    width: 300px;
    height: 50px;
    padding: 5px 10px;
    background-color: #008938;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    font-weight: 600;
    margin-top: 30px;
}

.promo{
    padding: 40px;
}

.promo > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.promo  h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.promo > div > div{
    border-radius: 10px ;
    box-shadow: 1px 1px 5px rgb(188, 186, 186);
    padding: 20px;
}

.promo  h3 {
    margin-bottom: 5px;
    font-weight: 900;
}

/* menu page style */
.divMenu{
  display: grid;
  grid-template-rows: 100px 1fr; 
}

.divMenu h2 {
  display: flex;
  font-size: 3rem;
  background-color: #008938;
  color: #ffffff;
  justify-content: flex-start;
  padding-left: 50px;
  align-items: center;
}

.menus{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 375px 375px;
  gap: 100px;
  padding:  50px 100px;
}

.menus > div {

  display: grid;
  grid-template-rows: 300px 75px;
  border-radius: 15px ;
  box-shadow: 1px 1px 5px rgb(188, 186, 186);
}

.menus p {
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #f0b429;
  border-radius: 15px 0px;
  color: #ffffff;
  padding: 20px 20px 20px 50px;
}

/* contact page style */

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  
}

.form > div{
  display: grid;
  grid-template-columns: 150px repeat(auto-fit, minmax(100px, 400px));
  grid-template-rows: 40px;
  
}

.form{
  padding: 20px;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(3, 75px) 200px 75px;
}

.contact  h2{
  display: flex;
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 3rem;
  background-color: #008938;
  color: #ffffff;
  justify-content: flex-start;
  padding-left: 50px;
  align-items: center;
}

.form input{
  border-radius: 15px;
  border: #008938 2px solid;
  padding-left: 10px;
}

.form textarea{
  border: #008938 2px solid;
  height: 200px;
}

.form button{
    width: 200px;
    height: 50px;
    padding: 5px 10px;
    background-color: #008938;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    font-weight: 600;
    margin-top: 30px;;
}

label{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  border-left: #f0b429 6px solid;
  align-self: center;
  padding-left: 5px;
}

.contactSideImg{
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: auto;

}

/* for all content button */
.content button{
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 4px rgb(188, 186, 186);
}

.content button:active{
  transform: scale(0.95);
  box-shadow: 1px 1px 1px rgb(188, 186, 186);
}

.content button:hover{
  color: #f0b429;
}